body {
    padding-top: 54px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px !important;
    font-weight: 400 !important;
    background: #f7f7f7;
}

a, button {
    cursor: pointer !important;
}

@media (min-width: 992px) {
    body {
        padding-top: 100px;
    }

    #tests .card-body {
        padding: 18px;
        margin-left: -30px;
    }
}

.carousel-item {
    height: 50vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 25px;
}

.portfolio-item {
    margin-bottom: 30px;
}

.bg-dark {
    color: #183546 !important;
    padding: 20px 0px;
}

.row {
/ / background-color: white;
/ / padding: 15 px 15 px !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #183546 !important;
    border-color: #2e4958 !important;
}

.h2, h2 {
    font-size: 21px !important;
    font-weight: bold;
    border-bottom: 1px dashed silver;
    padding-bottom: 20px;
    margin-bottom: 25px;
    margin-top: 35px;
    padding-left: 12px;
    color: #425560;
    font-family: 'Ubuntu', sans-serif;
}

.h4, h4 {
    font-size: 16px !important;
}

.btn {
    font-size: 13px;
    font-weight: 300;
}

.card-date {
    font-size: 13px;
    color: silver;
}

.card-body h4 {
    font-weight: 600;
    color: #42545f;
}

.card-img-top {
    border-radius: 0px !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding-left: 30px;
}

a {
    color: #42545f;
}

a:hover {
    color: #4b728a;
    text-decoration: none;
}

footer a {
    color: #fff;
}

.dropdown-item {
    font-size: 14px;
}

.navbar-brand {
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}

.zeropading {
    padding-left: 2px !important;
}

.portfolio-item img {
    padding-top: 20px;
}

.portfolio-item s {
    font-weight: 300;
}

.carousel-caption {
    bottom: 165px;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 0 0 6px #183546;
}

footer {
    margin-top: 70px;
}

.up {
    margin-bottom: 30px;
}

.carousel-indicators {
    bottom: 35px;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #747d83;
    padding: .25rem 1.1rem;
}

.row.ranking h4 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.row.ranking a {
    display: block;
    margin: 0 auto;
}

.row.ranking a i {
    font-size: 50px;
    margin-top: 10px;
}

.product_pic {
    display: block;
    margin: 0 auto;
}

.product-price {
    text-align: center;
    margin-top: 15px;
}

.page_title h2 {
    padding-top: 15px;
    margin-bottom: 30px;
}

h3.product_name {
    margin-bottom: 0 !important;
}

h3 {
    font-size: 21px !important;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 20px;
    color: #425560;
    font-family: 'Ubuntu', sans-serif;
}

.comparing_category {
    color: #425560;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 3px;
}

.panel {
    margin-top: 5px;
}

.panel_bar_text {
    color: #212121;
}

.panel_bar_text:hover {
    color: #212121;
}

.progress-bar {
    background-color: #868e96;
    background-image: -webkit-linear-gradient(top, #4DB6AC 0);
}

.progress-bar-info {
    background-image: -webkit-linear-gradient(top, #4DB6AC 0);
}

.progress {
    border-radius: 2px;
}

.comparing_section {
    padding-left: 10px;
    padding-right: 10px;
}

.panel-group.wrap:last-child {
    margin-bottom: 20px;
}

.panel-body.blue_background {
    border: #193648 dashed 1px;
    border-radius: 2px;
    border-top: none;
    padding: 5px;
}

.panel-body {
    border: #878f97 dashed 1px;
    border-radius: 2px;
    border-top: none;
    padding: 5px;
}

.comparing_section i {
    margin-right: 5px;
    font-size: 16px;
    color: #183546;
}

.form_section {
    padding: 1.25rem;
}

.form_section label {
    display: block;
}

.form_section h4 {
    margin-bottom: 10px;
}

aside .card .form_section:first-child {
    padding-bottom: 0 !important;
}

.badge {
    width: 64px;
    height: 64px;
    background-color: #e9ecef;
    color: #265673;
    border-radius: 100%;
    border: dashed 1px #265673;
    font-size: 32px;
}

.card.product_box {
    padding: 1.25rem;
}

.table_category {
    text-align: right;
    color: #183546;
}

.product_box a.btn {
    display: block;
}

.compare-product {
    margin-top: 5px;
}

td.table_bar {
    height: 50px;
}

.table_icon i {
    margin-left: 5px;
    margin-right: 3px;
    color: #183546;
    font-size: 16px;
    text-align: center;
}

.comparing_table.product_details {
    width: 100%;
}

.product_points {
    text-align: center;
    font-size: 14px;
    color: #183546;
    margin-top: 5px;
}

.badge.product_place {
    position: relative;
    left: 16px;
}

.table_icon {
    text-align: center;
}

@media (max-width: 400px) {
    .badge {
        padding: 5%;
    }
}

@media (min-width: 401px) and (max-width: 768px) {
    .badge {
        padding: 3%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .badge {
        padding: 45%;
    }
}

@media (min-width: 993px) and (max-width: 1199px) {
    .badge {
    }
}

.carousel-caption h3 {
    color: #fff !important;
}

.panel {
    margin-top: 0;
}

.panel-body {
    border: none;
    padding-top: 0;
}

.compare-list.show {
    width: 320px;
}

.compare-list.show td {
    line-height: 34px;
}

.compare-list.show td button {
    margin-left: 7px;
}

.features-view > div.row,
.items-index > div.row {
    margin-left: 0;
    margin-right: 0;
}

.product_points {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.smart-rank-score {
    margin-top: 24px;
    border: 1px solid rgba(0, 0, 0, .125);
    width: 96px;
}
.smart-rank-score p{
    margin-bottom: 7px;
}
.compare-thumb {
    height: 448px;
}

.compare-thumb .product_title {
    height: 47px;
}

.compare-thumb img {
    height: 280px;
    position: relative;
    left: 128px;
}

.rank-points-container{
    position: absolute;
    top: 67px;
}

