body {
    padding-top: 80px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px !important;
    font-weight: 400 !important;
    background: #fff;
}

@media (min-width: 992px) { 
    body {
        padding-top: 80px;
    }

    #tests .card-body {
        padding: 18px;
        margin-left: -30px;
    }
}

.carousel-item {
    height: 50vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 25px;
}

.portfolio-item {
    margin-bottom: 30px;
}

.bg-dark {
    color: #183546 !important;
    padding: 20px 0px;
}

.row {
    //background-color: white;
    //padding: 15px 15px !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #183546 !important;
    border-color: #2e4958 !important;
}

.h2, h2 {
    font-size: 21px !important;
    font-weight: bold;
    border-bottom: 1px dashed silver;
    padding-bottom: 20px;
    margin-bottom: 25px;
    margin-top: 35px;
    padding-left: 12px;
    color: #425560;
    font-family: 'Ubuntu', sans-serif;
}

.h4, h4 {
    font-size: 16px !important;
}

.btn {
    font-size: 13px;
    font-weight: 300;
}

.card-date {
    font-size: 13px;
    color: silver;
}

.card-body h4 {
    font-weight: 600;
    color: #42545f;
}

.card-img-top {border-radius: 0px !important;}

.navbar-dark .navbar-nav .nav-link {color: #fff; padding-left: 30px;}

a {
    color: #42545f;
}

a:hover {
    color: #4b728a;
    text-decoration: none;
}

footer a {
    color: #fff;
}

.dropdown-item {
    font-size: 14px;
}

.navbar-brand {
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}

.zeropading {
    padding-left:2px !important;
}

.portfolio-item img {
    padding-top: 20px;
}

.portfolio-item s {font-weight: 300;}

.carousel-caption {
    bottom: 165px;
    font-family: 'Ubuntu', sans-serif;
    text-shadow:0 0 6px #183546;
}

footer {margin-top: 70px;}

.up {margin-bottom: 30px;}

.carousel-indicators {
    bottom: 35px;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #747d83;
    padding: .25rem 1.1rem;
}

.row.ranking h4{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
.row.ranking a{
    display: block;
    margin: 0 auto;
}
.row.ranking a i{
    font-size: 50px;
    margin-top: 10px;
}
.product_pic {
    display: block;
    margin: 0 auto;
}
.product-price {
    text-align: center;
    margin-top: 15px;
}
.page_title h2{
    padding-top: 15px;
    margin-bottom: 30px;
}
h3.product_name{
    margin-bottom: 0 !important;
}
h3 {
    font-size: 21px !important;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 20px;
    color: #425560;
    font-family: 'Ubuntu', sans-serif;
}
.comparing_category {
    color: #425560;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 3px;
}
.panel_bar_text {
    color: #fff;
}
.panel_bar_text:hover {
    color: #fff;
}
.progress-bar {
    background-color: #868e96;
    background-image: -webkit-linear-gradient(top,#a3adb5 0,#868e96 100%);
}
.progress-bar-info {
    background-color: #183546;
    background-image: -webkit-linear-gradient(top,#2c6384 0,#183546 100%);
}
.progress {
    border-radius: 2px;
}
.comparing_section {
    padding-left: 10px;
    padding-right: 10px;
}
.panel-group.wrap:last-child {
    margin-bottom: 20px;
}
.panel-body.blue_background {
    border: #193648 dashed 1px;
    border-radius: 2px;
    border-top: none;
    padding: 5px;
}
.panel-body {
    border: #878f97 dashed 1px;
    border-radius: 2px;
    border-top: none;
    padding: 5px;
}
.comparing_section i {
    margin-right: 5px; 
    font-size: 16px;
    color: #183546;
}
.form_section {
    padding: 1.25rem;
}
.form_section label{
    display: block;
}
.form_section h4{
    margin-bottom: 10px;
}
aside .card .form_section:first-child {
    padding-bottom: 0 !important;
}
.badge {
    background-color: #e9ecef;
    color: #265673;
    border-radius: 100%;
    border: dashed 1px #265673;
    font-size: 22px;
}
.card.product_box {
    padding: 1.25rem;
}
.card.product_box .col-md-3 p{
    text-align: center;
}
.table_category {
    text-align: right;
    color: #183546;
}
.product_box a.btn {
    display: block;
}
.compare-product {
    margin-top: 5px;
}
.table_icon i {
    margin-left: 5px;
    margin-right: 3px;
    color: #183546;
    font-size: 16px;
    text-align: center;
}
.comparing_table.product_details {
    width: 100%;
}
.product_points {
    text-align: center;
    font-size: 14px;
    color: #183546;
    margin-top: 5px;
}
.table_icon {
    text-align: center;
}
@media (max-width: 400px) {
    .navbar-brand{
        margin-left: 24px;
    }
    .navbar-toggler{
        margin-right: 16px;
    }
}
@media (min-width: 401px) and (max-width: 768px) {
    .navbar-brand{
        margin-left: 24px;
    }
    .navbar-toggler{
        margin-right: 16px;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .navbar-brand{
        margin-left: 24px;
    }
    .navbar-toggler{
        margin-right: 16px;
    }
}
.carousel-caption h3 {
    color: #fff !important;
}

.table_bar, .features-bar{
    padding: 0 5px;;
	text-align: right;
}

.card{
    border: none;
    cursor: pointer;
	border: 1px solid #fff;
}
.card:hover{
    border: 1px solid rgba(0,0,0,.125);
}

.btn-secondary {
	color: #868e96;
    background-color: #fff;
    border-color: #868e96;
}

.play_button {
	width: 30%;
	position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.portfolio-item .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.0rem 0.30rem;
}
.img-responsive {
    display: block;
    margin: 0 auto;
}
.product_score {
    text-align: center;
    margin-top: 5px;
}
h3.product_title {
    text-align: left;
}
.table_rating {
    font-weight: 700;
    font-style: italic;
}
.comparing_table tr{
	padding: 12px 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
	.panel_bars.col-lg-8.col-md-7.col-sx-7 {
		padding: 0;
	}
	.comparing_section .features-bar {
	    margin-top: 10px;
    	margin-bottom: 0px;
	}
    .comparing_table.product_details {
        margin-top: 15px;
    }
    .features-bar {
        margin-bottom: 2px;
    }
    tr.row {
        margin-bottom: 8px;
    }
    tr.row td {
        padding-left: 5px;
        margin-top: 2px;
    }
    p.product_score {
        margin-bottom: 0px;
    }
    .card.product_box {
        padding-top: 25px;
    }
    footer.py-5.bg-dark {
        margin-top: 0;
    }
    .comparing_table tr{
		padding: 0px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
    .comparing_table.product_details {
        margin-top: 20px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    a.compare-product {
        padding: .5rem 0rem !important;
    }
}
.compare-thumb .product_title {
    min-height: 50px;
}
.smart-rank-score {
    margin-top: 40px;
}
.table_rating {
    padding-right: 0 !important;
    padding-left: 5px !important;
}
div.col-lg-12.col-md-12.col-sm-12.col-xs-12 > div.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    padding-top: 15px;
}
.table.table-striped {
    width: 290px;
}
.compared_product_img, .compared_product_name, .compared_product_btn {
    display: block;
    width: 33%;
    float: left;
}
.compared_product_name {
    font-size: 14px;
}
.comparing_table .panel-body {
	text-align: left;
}

.h3_l {text-align: left; padding-top: 10px;}

.comparing_content .smart-rank-score {
    margin-top: 0px;
}

.comparing_content .product_title {
	text-align: center;
    margin-bottom: 20px;
}

.progres_1, .progres_1:active, .progres_1:focus {
	border: 0px;
    background-image: -webkit-linear-gradient(top,#7fd889 0,#689849 100%);
    box-shadow: none !important;
}
.progres_2, .progres_2:active, .progres_2:focus  {
	border: 0px;
    background-image: -webkit-linear-gradient(top,#80b0c1 0,#4e7088 100%);
    box-shadow: none !important;
}
.progres_3, .progres_3:active, .progres_3:focus  {
	border: 0px;
    background-image: -webkit-linear-gradient(top,#ea5858 0,#962d2d 100%);
    box-shadow: none !important;
}
div.form-group.no_dashed_border {
	border-bottom: none;
}
.table.table-bordered.table-responsive.table-striped {
	width: 100%;
}
td.actions a {
	display: block;
}
.section_attributes_border {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px dashed silver;
}
.save_category_btn {
	width: 100px;
	margin-top: 10px;
}
.add_category_btn, .button-add-feature.btn.btn-secondary {
	width: 100px;
}
.item-attributes-form-controls-container .section_attributes_border:last-child {
	border-bottom: none;
	padding-bottom: 0;
}
.panel_bars {
	padding: 0;
}
.single_product_feature {
	padding: 12px 0;
}

@media (min-width: 320px) and (max-width: 991px) {
	.zeropading {
		padding-left: 30px !important;
	}
	.compare-thumb {
		margin-top: 15px;
	}
	.table.table-striped {
		width: 100%;
	}
}
.feature-item-container.panel.panel-default.section_attributes_border:last-child {
	border-bottom: none;
}
.row.ranking .card {
	text-align: center;
}
.section_attributes_border:first-child {
	border-top: 1px dashed silver;
	padding-top: 20px;
	margin-top: 20px;
}
.panel-body.blue_background {
	margin-bottom: 5px;
}
.badge.product_place {
	padding: 20px 25px;
	line-height: 1;
}
@media (min-width: 768px) and (max-width: 991px) {
	.btn.btn-lg.btn-secondary.btn-block.compare-product {
		margin-bottom: 20px;
	}
}
