<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-uppercase">
            <h3>
                <?= __('Strona nie istnieje');?>
            </h3>
        </div>
    </div>
</div>