<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('https://static.pexels.com/photos/17663/pexels-photo.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                    <p>This is a description for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('https://static.pexels.com/photos/40011/iphone-smartphone-apps-apple-inc-40011.jpeg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Nam vehicula venenatis pharetra</h3>
                    <p>This is a description for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('https://static.pexels.com/photos/541522/pexels-photo-541522.jpeg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Cras non tortor maximus, elementum sapien sit amet</h3>
                    <p>This is a description for the third slide.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Wstecz</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Dalej</span>
        </a>
    </div>
</header>